@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="page">
    <main>
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>



