@inherits LayoutComponentBase


<MudThemeProvider IsDarkMode="true" Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<div class="page">
    <main>
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>





